.about-us {
  padding-top: 36px;
  padding-bottom: 69px;
  background-color: var(--color-mine-shaft);

  &__title {
    margin-bottom: 5px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
    min-height: 365px;
  }

  &__descr {
    grid-column: span 6;
  }

  &__subscription {
    grid-column: span 6;
  }

  &__image {
    display: block;
    margin-bottom: 24px;
    font-size: 0;

    img {
      min-height: 255px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 14px;
    font-family: "TTFirsNeue";
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    color: var(--color-light);
  }
}
