.contacts {
  padding-top: 44px;
  padding-bottom: 67px;

  &__title {
    margin-bottom: 18px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
  }

  &__location-map {
    position: relative;
    grid-column: span 8;
    padding-top: 6px;
  }

  &__application-form {
    grid-column: span 4;
  }
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

[class*="ymaps-2-1-79-copyright"] {
  display: none;
}

.location-map {

  &__wrapper {
    position: absolute;
    left: 0;
    display: flex;
    padding: 48px 50px 20px 60px;
    z-index: 2;
    max-width: 410px;
    min-height: 460px;
    background-color: rgba(32, 32, 32, 0.85);
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin: 0;
    margin-bottom: 5px;
    color: #FFF;
    font-family: "TTFirsNeue";
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    color: var(--color-light);
  }

  &__address {
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--color-silver);
  }

  &__link {
    display: flex;
    align-items: center;
    font-family: "TTFirsNeue";
    font-size: 16px;
    font-weight: 400;
    color: var(--color-light);
  }


  &__icon {
    width: 22px;
    height: 22px;
    fill: var(--color-light);
  }

  &__btn-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transform: translate(30px, -27px);
    background-color: var(--color-grey);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 13px;
      height: 1px;
      transform: rotate(135deg) translate(-3px, -2px);
      background-color: var(--color-light);
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      width: 13px;
      height: 1px;
      transform: rotate(-135deg) translate(3px, -2px);
      background-color: var(--color-light);
    }
  }
}

.application-form {

  &__title {
    margin: 0;
    margin-bottom: 5px;
    font-family: "TTFirsNeue";
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    color: var(--color-mine-shaft);
  }

  &__descr {
    margin-bottom: 14px;
    line-height: 22px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
  }

  &__label {
    margin-bottom: 20px;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  &__input {
    padding: 16px 23px;
    width: 100%;
    resize: none;
    background-color: var(--color-mercury);

    &--big {
      height: 150px;
    }

    &::placeholder {
      color: var(--color-silver);
    }
  }



}
