.header {
  background-color: var(--color-mine-shaft);
  &__top {
    padding-top: 24px;
    padding-bottom: 25px;
    background-color: var(--color-mine-shaft);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    transform: scale(1);
    outline: none;
    transition: transform .5s ease;

    @media (hover :hover) {
      &:hover {
        transform: scale(1.1);
      }
    }

    &:focus-visible {
      transform: scale(1.1);
    }
  }

  &__image {
    display: block;
    font-size: 0;

    img {
      width: 190px;
      height: 31px;
    }
  }

  &__nav {
    transform: translateX(25px);
  }

  &__bottom {
    padding-top: 11px;
    padding-bottom: 10px;
    background-color: var(--color-tundora);
  }

  &__number {
    display: flex;
    align-items: center;
    font-family: "TTFirsNeue";
    font-weight: 700;
    font-size: 16px;
    color: var(--color-light);
    outline: none;
    transition: color .3s ease;

    svg {
      width: 20px;
      height: 20px;
      color: inherit;
      fill: currentColor;
      transition: fill .3s ease-in-out;
    }

    @media (hover :hover) {
        &:hover {
          color: var(--color-burning-orange);
        }
    }

    &:focus {
      color: var(--color-tuscany);
    }

    &:focus-visible {
      color: var(--color-burning-orange);
    }

    &:active {
      color: var(--color-grenadier);
    }
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__btn {
    display: flex;
    align-items: center;
    outline: none;
    color: var(--color-light);
    transition: color .3s ease;

    svg {
      width: 24px;
      height: 24px;
      color: inherit;
      fill: currentColor;
    }

    @media (hover :hover) {
      &:hover {
        color: var(--color-burning-orange);
      }
    }

    &:focus {
      color: var(--color-tuscany);
    }

    &:focus-visible {
      color: var(--color-burning-orange);
    }

    &:active {
      color: var(--color-grenadier);
    }
  }

  &__search {
    min-width: 172px;
    border: none;
    border-bottom: 1px solid var(--color-mercury);
    font-family: "TTFirsNeue";
    font-weight: 400;
    font-size: 14px;
    color: var(--color-mercury);
    outline: none;
    background-color: inherit;
    transition: border-color .3s ease;

    &::placeholder {
      font-family: "TTFirsNeue";
      font-weight: 400;
      font-size: 14px;
      color: var(--color-mercury);
    }

    @media (hover :hover) {
      &:hover {
        border-color: var(--color-burning-orange);
      }
    }

    &:focus {
      border-color: var(--color-tuscany);
    }

    &:focus-visible {
      border-color: var(--color-burning-orange);
    }

    &:active {
      border-color: var(--color-grenadier);
    }
  }
}
