.hero {
  padding-top: 35px;
  padding-bottom: 39px;
  background-color: var(--color-light);

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
  }

  &__article {
    grid-column: span 6;
    padding-top: 5px;
  }

  &__photo {
    grid-column: span 6;
  }

  &__title {
    margin-bottom: 24px;
  }
}
