.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 67.5px;
    }
  }

  &__link {
    display: block;
    padding: 3px 6px ;
    font-family: "TTFirsNeue";
    font-weight: 400;
    font-size: 16px;
    color: var(--color-light);
    background-color: transparent;
    outline: none;
    transition: color .3s ease, background-color .3s ease;

    @media (hover :hover) {
      &:hover {
        color: var(--color-burning-orange);
      }
    }

    &:focus-visible {
      color: var(--color-light);
      background-color: var(--color-tuscany);
    }

    &:focus {
      color: var(--color-light);
      background-color: var(--color-tuscany);
    }

    &:active {
      color: var(--color-grenadier);
      background-color: transparent;
    }
  }
}
