.projects {
  padding-top: 43px;
  padding-bottom: 43px;

  &__title {
    margin-bottom: 14px;
  }

  &__wrapper {
    margin-bottom: 50px;
  }

  &__list {
    display: none;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);

    &--active {
      display: grid;
    }
  }

  &__item {
    grid-column: span 2;
    min-height: 300px;

    &--midl {
      display: flex;
      flex-direction: column;
      grid-column: span 3;
    }

    &--big {
      display: flex;
      flex-direction: column;
      grid-column: span 6;
      padding: 24px 30px 30px 30px;
      background-color: var(--color-tundora);
    }

    &--reverse {
      order: -1;
    }
  }
}

.card-project {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &--fuji {
    background-image: url("../img/card-project-four.jpg");
  }

  &--oblivion {
    background-image: url("../img/card-project-five.jpg");
  }

  &--jazz {
    background-image: url("../img/card-project-eleven.jpg");
  }

  &--portrait {
    background-image: url("../img/card-project-twelve.jpg");
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    outline: none;
    transform: scale(1);
    transition: transform .3s ease;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      right: -5px;
      bottom: -5px;
      left: -5px;
    }

    @media (hover :hover) {
      &:hover {
        transform: scale(1.05);
      }
    }

    &:focus-visible {
      transform: scale(1.05);
    }
  }

  &__image {
    display: block;
    margin-bottom: 12px;
    font-size: 0;
  }

  &__descr {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-mine-shaft);

    &--light {
      color: var(--color-light);
      max-width: 292px;
    }

    &--midl {
      margin-bottom: 13px;
    }

    &--big {
      margin-bottom: 20px;
    }
  }

  &__btn {
    align-self: flex-start;
    margin-top: auto;
  }

  &__date {
    display: block;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #999;
    background-position: left top;
    background-size: 14px 14px;
    background-repeat: no-repeat;

    &--grey {
      background-image: url("../img/calendar-grey.svg");
    }

    &--light {
      color: var(--color-light);
      background-image: url("../img/calendar-light.svg");
    }

    &--midl {
      line-height: 13px;
    }

    &--big {
      margin-bottom: 2px;
    }
  }

  &__hashtag {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 6px 14px;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-light);
    background-color: var(--color-light-mine-shaft);
  }

  &__subtitle {
    margin-bottom: 6px;
    max-width: 292px;
  }
}
