<footer class="footer">
  <div class="footer__container container">
    <div class="footer__wrapper-logo">
      <a class="footer__link" href="#" aria-label="Главная страница High pass">
        <picture class="footer__logo">
          <img src="./img/logo.svg" alt="Логотип High pass">
        </picture>
      </a>
      <h2 class="footer__title">Фотостудия High pass® 2018-2020</h2>
    </div>
    <div class="footer__wrapper-content">
      <p class="footer__descr descr">Которая из моих фотографий самая любимая? Та, которую я собираюсь снять завтра. <span class="footer__descr footer__descr--min descr">© Имоджен Каннингем</span></p>
    </div>
    <div class="footer__social-media">
      <span class="footer__descr descr">Больше интересного:</span>
      <ul class="footer__list social-media  list-reset">
        <li class="social-media__item">
          <a class="social-media__link" href="#" aria-label="Посетить на нашу cтриницу в instagram">
            <svg class="social-media__icon">
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-media__item">
          <a class="social-media__link" href="#" aria-label="Посетить нашу группу в Facebook">
            <svg class="social-media__icon">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-media__item">
          <a class="social-media__link" href="#" aria-label="Посетить нашу группу в ВКонтакте">
            <svg class="social-media__icon">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
