<header class="header">
  <div class="header__top">
    <div class="header__container container">
      <a class="header__logo" href="index.html" aria-label="Перейти на главную страницу сайта High pass">
        <picture class="header__image">
          <img src="img/logo.svg" alt="Логотип компании High pass">
        </picture>
      </a>
      <nav class="header__nav nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link" aria-label="Перйти в раздел 'О студии'">О студии</a></li>
          <li class="nav__item"><a href="#" class="nav__link" aria-label="Перйти в раздел 'Наши проекты'">Наши проекты</a></li>
          <li class="nav__item"><a href="#" class="nav__link" aria-label="Перйти в раздел 'Услуги'">Услуги</a></li>
          <li class="nav__item"><a href="#" class="nav__link" aria-label="Перйти в раздел 'Мастер-классы'">Мастер-классы</a></li>
          <li class="nav__item"><a href="#" class="nav__link" aria-label="Перйти в раздел 'Контакты'">Контакты</a></li>
        </ul>
      </nav>
      <ul class="social-media  list-reset">
        <li class="social-media__item">
          <a class="social-media__link" href="#" aria-label="Посетить на нашу cтриницу в instagram">
            <svg class="social-media__icon">
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-media__item">
          <a class="social-media__link" href="#" aria-label="Посетить нашу группу в Facebook">
            <svg class="social-media__icon">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-media__item">
          <a class="social-media__link" href="#" aria-label="Посетить нашу группу в ВКонтакте">
            <svg class="social-media__icon">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__container container">
      <a class="header__number" href="tel:+749542423532" aria-label="Позвонить в фотостудию High pass">
        <svg>
        <use xlink:href="img/sprite.svg#phone"></use>
      </svg>+7 (495) 42-423-532</a>
      <form class="header__form" action="https://jsonplaceholder.typicode.com/posts" method="get">
        <button class="header__btn btn-reset"  type="submit" aria-label="Отправить запрос на поиск">
          <svg>
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>
        <input class="header__search" placeholder="Что будем иcкать?" type="text" aria-label="Введите текст для поиска по сайту">
      </form>
    </div>
  </div>
</header>
