<section class="hero" id="hero">
  <div class="container">
    <h1 class="visually-hidden">Фотостудия High pass</h1>
    <div class="hero__wrapper">
      <article class="hero__article article-abc">
        <p class="article-abc__descr descr descr--light">Мастер-класс от Игоря Робова</p>
        <h2 class="article-abc__title">Неоновый фотосет 2.0 7 июля 20:00</h2>
        <a class="article-abc__btn btn btn--primary" href="#" aria-label="Перейти на страницу Мастер класса">Узнать
          больше</a>
        <span class="article-abc__hashtag">#мастеркласс</span>
      </article>
      <div class="hero__photo photo">
        <h2 class="hero__title title">Работы участников предыдущего мастер-класса</h2>
        <ul class="photo__list list-reset">
          <li class="photo__item photo__item--big">
            <picture class="photo__image">
              <source srcset="./img/hero-one.webp">
              <img src="./img/hero-one.jpg" alt="Фотография с мастер-класса">
            </picture>
          </li>
          <li class="photo__item">
            <picture class="photo__image">
              <source srcset="./img/hero-two.webp">
              <img src="./img/hero-two.jpg" alt="Фотография с мастер-класса">
            </picture>
          </li>
          <li class="photo__item">
            <picture class="photo__image">
              <source srcset="./img/hero-three.webp">
              <img src="./img/hero-three.jpg" alt="Фотография с мастер-класса">
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
