<section class="master-class" id="master-class">
  <div class="container">
    <h2 class="master-class__title title title--light">Мастер-классы</h2>
    <div class="master-class__content">
      <div class="master-class__main-mc main-mc">
        <picture class="main-mc__image">
          <source srcset="./img/master-class-one.webp">
          <img src="./img/master-class-one.jpg" alt="Фотопарат Canon">
        </picture>
        <div class="main-mc__info">
          <div class="main-mc__date-time">
            <time class="master-class__date" datetime="2023-06-08">8 июня</time>
            <time class="master-class__time" datetime="2023-06-08T15:00:00">15:00</time>
          </div>
          <h3 class="main-mc__title">Пленка для начинающих</h3>
          <p class="main-mc__descr descr">Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта:
            семантический разбор внешних противодействий, в своём классическом представлении.</p>
          <a class="main-mc__btn btn btn--primary btn-reset" href="#" aria-label="Подробнее о мастер-классе">Узнать больше</a>
        </div>
      </div>
      <div class="master-class__secondary-mc secondary-mc">
        <a class="secondary-mc__link" href="#" aria-label="Подробнее о мастер-классе">
          <picture class="secondary-mc__image">
            <source srcset="./img/master-class-two.webp">
            <img src="./img/master-class-two.jpg" alt="Фотография сделанная на мастер классе">
          </picture>
          <div class="secondary-mc__info">
            <div class="secondary-mc__date-time">
              <time class="master-class__date" datetime="2023-06-09">9 июня</time>
              <time class="master-class__time" datetime="2023-06-08T15:00:00">15:00</time>
            </div>
            <h3 class="secondary-mc__title">Ретушь. Продвинутый уровень</h3>
          </div>
        </a>
      </div>
      <div class="master-class__secondary-mc secondary-mc">
        <a class="secondary-mc__link" href="#" aria-label="Подробнее о мастер-классе">
          <picture class="secondary-mc__image">
            <source srcset="./img/master-class-three.webp">
            <img src="./img/master-class-three.jpg" alt="Фотография сделанная на мастер классе">
          </picture>
          <div class="secondary-mc__info">
            <div class="secondary-mc__date-time">
              <time class="master-class__date" datetime="2023-06-10">10 июня</time>
              <time class="master-class__time" datetime="2023-06-08T16:00:00">16:00</time>
            </div>
            <h3 class="secondary-mc__title">Портретная съемка. Свет</h3>
          </div>
        </a>
      </div>
      <div class="master-class__secondary-mc secondary-mc">
        <a class="secondary-mc__link" href="#" aria-label="Подробнее о мастер-классе">
          <picture class="secondary-mc__image">
            <source srcset="./img/master-class-four.webp">
            <img src="./img/master-class-four.jpg" alt="Фотография сделанная на мастер классе">
          </picture>
          <div class="secondary-mc__info">
            <div class="secondary-mc__date-time">
              <time class="master-class__date" datetime="2023-06-11">11 июня</time>
              <time class="master-class__time" datetime="2023-06-08T16:00:00">16:00</time>
            </div>
            <h3 class="secondary-mc__title">Макросъемка. Проблемы и нюансы</h3>
          </div>
        </a>
      </div>
      <div class="master-class__secondary-mc secondary-mc">
        <a class="secondary-mc__link" href="#" aria-label="Подробнее о мастер-классе">
          <picture class="secondary-mc__image">
            <source srcset="./img/master-class-five.webp">
            <img src="./img/master-class-five.jpg" alt="Фотография сделанная на мастер классе">
          </picture>
          <div class="secondary-mc__info">
            <div class="secondary-mc__date-time">
              <time class="master-class__date" datetime="2023-06-13">13 июня</time>
              <time class="master-class__time" datetime="2023-06-08T18:00:00">18:00</time>
            </div>
            <h3 class="secondary-mc__title">Творческая ретушь для начинающих</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
