<section class="projects">
  <div class="container">
    <h2 class="projects__title title">Наши проекты</h2>
    <div class="projects__wrapper">
    <ul class="projects__list projects__list--active list-reset" data-target="one">
      <li class="projects__item card-project card-project--one">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <p class="card-project__descr">Синтетически, смешаны с не уникальными данными до степени...</p>
          <span class="card-project__date card-project__date--grey">16 июня</span>
          <span class="card-project__hashtag">#пейзаж</span>
        </a>
      </li>
      <li class="projects__item card-project card-project--two">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <p class="card-project__descr">В&nbsp;своём стремлении улучшить опыт мым упускаем, что явные...</p>
          <span class="card-project__date card-project__date--grey">28 мая</span>
          <span class="card-project__hashtag">#портрет</span>
        </a>
      </li>
      <li class="projects__item card-project card-project--three">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <p class="card-project__descr">Равным образом, высокое качество позиционных...</p>
          <span class="card-project__date card-project__date--grey">14 мая</span>
          <span class="card-project__hashtag">#предмет</span>
        </a>
      </li>
      <li class="projects__item projects__item--big card-project card-project--four">
        <span class="card-project__date card-project__date--big card-project__date--light">9 апреля</span>
        <h3 class="card-project__subtitle title title--light">Cемантический разбор</h3>
        <p class="card-project__descr card-project__descr--big card-project__descr--light">В рамках спецификации современных стандартов, интерактивные прототипы.</p>
        <a class="card-project__btn btn" href="#" aria-label="Перейти к проекту">О проекте</a>
        <span class="card-project__hashtag">#fuji</span>
      </li>
      <li class="projects__item projects__item--big card-project card-project--five">
        <span class="card-project__date card-project__date--big card-project__date--light">20 марта</span>
        <h3 class="card-project__subtitle title title--light">Забвение</h3>
        <p class="card-project__descr card-project__descr--big card-project__descr--light">Играет важную роль в формировании глубокомысленных рассуждений.</p>
        <a class="card-project__btn btn" href="#" aria-label="Перейти к проекту">О проекте</a>
        <span class="card-project__hashtag">#проектзабвение</span>
      </li>
      <li class="projects__item projects__item--midl card-project card-project--six">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <p class="card-project__descr card-project__descr--midl">Как принято считать, многие известные личности и по сей день остаются уделом либералов...</p>
          <span class="card-project__date card-project__date--midl card-project__date--grey">9 марта</span>
          <span class="card-project__hashtag">#ретушь</span>
        </a>
      </li>
      <li class="projects__item projects__item--midl card-project card-project--seven">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <p class="card-project__descr card-project__descr--midl">С учётом сложившейся международной обстановки, новая модель организационной...</p>
          <span class="card-project__date card-project__date--midl card-project__date--grey">1 марта</span>
          <span class="card-project__hashtag">#портрет</span>
        </a>
      </li>
    </ul>
    <ul class="projects__list list-reset" data-target="two">
      <li class="projects__item card-project card-project--eight">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <p class="card-project__descr">Равным образом, сложившаяся структура организации...</p>
          <span class="card-project__date card-project__date--grey">15 февраля</span>
          <span class="card-project__hashtag">#пейзаж</span>
        </a>
      </li>
      <li class="projects__item card-project card-project--nine">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <p class="card-project__descr">Безусловно, реализация намеченных плановых заданий обеспечивает...</p>
          <span class="card-project__date card-project__date--grey">10 февраля</span>
          <span class="card-project__hashtag">#предмет</span>
        </a>
      </li>
      <li class="projects__item card-project card-project--ten">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <p class="card-project__descr">Безусловно, курс на социальный национальный...</p>
          <span class="card-project__date card-project__date--grey">7 февраля</span>
          <span class="card-project__hashtag">#пейзаж </span>
        </a>
      </li>
      <li class="projects__item projects__item--big card-project card-project--eleven">
        <span class="card-project__date card-project__date--light">2 февраля</span>
        <h3 class="card-project__subtitle title title--light">Задания по разработке своевременного</h3>
        <p class="card-project__descr card-project__descr--big card-project__descr--light">Повседневная практика показывает, что сложившаяся структура организации играет важную роль</p>
        <a class="card-project__btn btn" href="#" aria-label="Перейти к проекту">О проекте</a>
        <span class="card-project__hashtag">#проектджаз</span>
      </li>
      <li class="projects__item projects__item--reverse projects__item--big card-project card-project--twelve">
        <span class="card-project__date card-project__date--light">24 февраля</span>
        <h3 class="card-project__subtitle title title--light">Спорная точка зрения</h3>
        <p class="card-project__descr card-project__descr--big card-project__descr--light">Ясность нашей позиции очевидна: убеждённость некоторых оппонентов</p>
        <a class="card-project__btn btn" href="#" aria-label="Перейти к проекту">О проекте</a>
        <span class="card-project__hashtag">#портрет</span>
      </li>
      <li class="projects__item projects__item--reverse projects__item--midl card-project card-project--thirteen">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <p class="card-project__descr card-project__descr--midl">Идейные соображения высшего порядка, а также убеждённость некоторых оппонентов...</p>
          <span class="card-project__date card-project__date--midl card-project__date--grey">20 февраля</span>
          <span class="card-project__hashtag">#ретушь</span>
        </a>
      </li>
      <li class="projects__item projects__item--reverse projects__item--midl card-project card-project--fourteen">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <p class="card-project__descr card-project__descr--midl">Прежде всего, повышение уровня гражданского сознания говорит о возможностях приоритизации...</p>
          <span class="card-project__date card-project__date--midl card-project__date--grey">18 февраля</span>
          <span class="card-project__hashtag">#портрет</span>
        </a>
      </li>
    </ul>
  </div>
    <div class="tabs-nav">
      <button class="tabs-nav__btn tabs-nav__btn--active btn-reset" aria-label="Открыть список проектов" data-path="one">1</button>
      <button class="tabs-nav__btn btn-reset" aria-label="Открыть список проектов" data-path="two">2</button>
    </div>
  </div>
</section>
