<section class="projects">
  <div class="container">
    <h2 class="projects__title title">Наши проекты</h2>
    <ul class="projects__list list-reset">
      <li class="projects__item card-project card-project--one">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <p class="card-project__descr">Синтетически, смешаны с не уникальными данными до степени...</p>
          <span class="card-project__date">16 июня</span>
          <span class="card-project__hashtag">#пейзаж</span>
        </a>
      </li>
      <li class="projects__item card-project card-project--two">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <p class="card-project__descr">В своём стремлении улучшить опыт мы упускаем, что явные...</p>
          <span class="card-project__date">28 мая</span>
          <span class="card-project__hashtag">#портрет</span>
        </a>
      </li>
      <li class="projects__item card-project card-project--three">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <p class="card-project__descr">Равным образом, высокое качество позиционных...</p>
          <span class="card-project__date">14 мая</span>
          <span class="card-project__hashtag">#предмет</span>
        </a>
      </li>
      <li class="projects__item projects__item--big card-project card-project--four">
        <span class="card-project__date">9 апреля</span>
        <h3 class="card-project__subtitle">Cемантический разбор</h3>
        <p class="card-project__descr card-project__descr--light">В рамках спецификации современных стандартов, интерактивные прототипы.</p>
        <a class="card-project__btn btn" href="#" aria-label="Перейти к проекту">О проекте</a>
        <span class="card-project__hashtag">#fuji</span>
      </li>
      <li class="projects__item projects__item--big card-project card-project--five">
        <span class="card-project__date">20 марта</span>
        <h3 class="card-project__subtitle">Забвение</h3>
        <p class="card-project__descr card-project__descr--light">Играет важную роль в формировании глубокомысленных рассуждений.</p>
        <a class="card-project__btn btn" href="#" aria-label="Перейти к проекту">О проекте</a>
        <span class="card-project__hashtag">#проектзабвение</span>
      </li>
      <li class="projects__item projects__item--midl card-project card-project--six">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <p class="card-project__descr">Как принято считать, многие известные личности и по сей день остаются уделом либералов...</p>
          <span class="card-project__date">9 марта</span>
          <span class="card-project__hashtag">#ретушь</span>
        </a>
      </li>
      <li class="projects__item projects__item--midl card-project card-project--seven">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <p class="card-project__descr">С учётом сложившейся международной обстановки, новая модель организационной...</p>
          <span class="card-project__date">1 марта</span>
          <span class="card-project__hashtag">#портрет</span>
        </a>
      </li>
    </ul>
  </div>
</section>
