<section class="projects">
  <div class="container">
    <h2 class="projects__title title">Наши проекты</h2>
    <div class="projects__wrapper">
    <ul class="projects__list projects__list--active list-reset" data-target="one">
      <li class="projects__item card-project">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <picture class="card-project__image">
            <img src="img/card-project-one.jpg" alt="Фотография из проекта">
          </picture>
          <p class="card-project__descr">Синтетически, смешаны с не уникальными данными до степени...</p>
          <date class="card-project__date card-project__date--grey" datetime="2023-06-16">16 июня</date>
          <span class="card-project__hashtag">#пейзаж</span>
        </a>
      </li>
      <li class="projects__item card-project">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <picture class="card-project__image">
            <img src="img/card-project-two.jpg" alt="Фотография из проекта">
          </picture>
          <p class="card-project__descr">В&nbsp;своём стремлении улучшить опыт мым упускаем, что явные...</p>
          <date class="card-project__date card-project__date--grey" datetime="2023-05-28">28 мая</date>
          <span class="card-project__hashtag">#портрет</span>
        </a>
      </li>
      <li class="projects__item card-project">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <picture class="card-project__image">
            <img src="img/card-project-three.jpg" alt="Фотография из проекта">
          </picture>
          <p class="card-project__descr">Равным образом, высокое качество позиционных...</p>
          <date class="card-project__date card-project__date--grey" datetime="2023-05-14">14 мая</date>
          <span class="card-project__hashtag">#предмет</span>
        </a>
      </li>
      <li class="projects__item projects__item--big card-project card-project--fuji">
        <date class="card-project__date card-project__date--big card-project__date--light" datetime="2023-04-09">9 апреля</date>
        <h3 class="card-project__subtitle title title--light">Cемантический разбор</h3>
        <p class="card-project__descr card-project__descr--big card-project__descr--light">В рамках спецификации современных стандартов, интерактивные прототипы.</p>
        <a class="card-project__btn btn" href="#" aria-label="Перейти к проекту">О проекте</a>
        <span class="card-project__hashtag">#fuji</span>
      </li>
      <li class="projects__item projects__item--big card-project card-project--oblivion">
        <date class="card-project__date card-project__date--big card-project__date--light" datetime="2023-03-20">20 марта</date>
        <h3 class="card-project__subtitle title title--light">Забвение</h3>
        <p class="card-project__descr card-project__descr--big card-project__descr--light">Играет важную роль в формировании глубокомысленных рассуждений.</p>
        <a class="card-project__btn btn" href="#" aria-label="Перейти к проекту">О проекте</a>
        <span class="card-project__hashtag">#проектзабвение</span>
      </li>
      <li class="projects__item projects__item--midl card-project">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <picture class="card-project__image">
            <img src="img/card-project-six.jpg" alt="Фотография из проекта">
          </picture>
          <p class="card-project__descr card-project__descr--midl">Как принято считать, многие известные личности и по сей день остаются уделом либералов...</p>
          <date class="card-project__date card-project__date--midl card-project__date--grey" datetime="2023-03-09">9 марта</date>
          <span class="card-project__hashtag">#ретушь</span>
        </a>
      </li>
      <li class="projects__item projects__item--midl card-project">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <picture class="card-project__image">
            <img src="img/card-project-seven.jpg" alt="Фотография из проекта">
          </picture>
          <p class="card-project__descr card-project__descr--midl">С учётом сложившейся международной обстановки, новая модель организационной...</p>
          <date class="card-project__date card-project__date--midl card-project__date--grey" datetime="2023-03-01">1 марта</date>
          <span class="card-project__hashtag">#портрет</span>
        </a>
      </li>
    </ul>
    <ul class="projects__list list-reset" data-target="two">
      <li class="projects__item card-project">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <picture class="card-project__image">
            <img src="img/card-project-eight.jpg" alt="Фотография из проекта">
          </picture>
          <p class="card-project__descr">Равным образом, сложившаяся структура организации...</p>
          <date class="card-project__date card-project__date--grey" datetime="2023-02-15">15 февраля</date>
          <span class="card-project__hashtag">#пейзаж</span>
        </a>
      </li>
      <li class="projects__item card-project">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <picture class="card-project__image">
            <img src="img/card-project-nine.jpg" alt="Фотография из проекта">
          </picture>
          <p class="card-project__descr">Безусловно, реализация намеченных плановых заданий обеспечивает...</p>
          <date class="card-project__date card-project__date--grey" datetime="2023-02-10">10 февраля</date>
          <span class="card-project__hashtag">#предмет</span>
        </a>
      </li>
      <li class="projects__item card-project">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <picture class="card-project__image">
            <img src="img/card-project-ten.jpg" alt="Фотография из проекта">
          </picture>
          <p class="card-project__descr">Безусловно, курс на социальный национальный...</p>
          <date class="card-project__date card-project__date--grey" datetime="2023-02-07">7 февраля</date>
          <span class="card-project__hashtag">#пейзаж </span>
        </a>
      </li>
      <li class="projects__item projects__item--big card-project card-project--jazz">
        <date class="card-project__date card-project__date--light" datetime="2023-02-02">2 февраля</date>
        <h3 class="card-project__subtitle title title--light">Задания по разработке своевременного</h3>
        <p class="card-project__descr card-project__descr--big card-project__descr--light">Повседневная практика показывает, что сложившаяся структура организации играет важную роль</p>
        <a class="card-project__btn btn" href="#" aria-label="Перейти к проекту">О проекте</a>
        <span class="card-project__hashtag">#проектджаз</span>
      </li>
      <li class="projects__item projects__item--reverse projects__item--big card-project card-project--portrait">
        <date class="card-project__date card-project__date--light" datetime="2023-02-24">24 февраля</date>
        <h3 class="card-project__subtitle title title--light">Спорная точка зрения</h3>
        <p class="card-project__descr card-project__descr--big card-project__descr--light">Ясность нашей позиции очевидна: убеждённость некоторых оппонентов</p>
        <a class="card-project__btn btn" href="#" aria-label="Перейти к проекту">О проекте</a>
        <span class="card-project__hashtag">#портрет</span>
      </li>
      <li class="projects__item projects__item--reverse projects__item--midl card-project">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <picture class="card-project__image">
            <img src="img/card-project-thirteen.jpg" alt="Фотография из проекта">
          </picture>
          <p class="card-project__descr card-project__descr--midl">Идейные соображения высшего порядка, а также убеждённость некоторых оппонентов...</p>
          <date class="card-project__date card-project__date--midl card-project__date--grey" datetime="2023-02-20">20 февраля</date>
          <span class="card-project__hashtag">#ретушь</span>
        </a>
      </li>
      <li class="projects__item projects__item--reverse projects__item--midl card-project">
        <a class="card-project__link" href="projects__tab-link" aria-label="Перейти к проекту">
          <picture class="card-project__image">
            <img src="img/card-project-fourteen.jpg" alt="Фотография из проекта">
          </picture>
          <p class="card-project__descr card-project__descr--midl">Прежде всего, повышение уровня гражданского сознания говорит о возможностях приоритизации...</p>
          <date class="card-project__date card-project__date--midl card-project__date--grey" datetime="2023-02-18">18 февраля</date>
          <span class="card-project__hashtag">#портрет</span>
        </a>
      </li>
    </ul>
  </div>
    <div class="tabs-nav">
      <button class="tabs-nav__btn tabs-nav__btn--active btn-reset" aria-label="Открыть список проектов" data-path="one">1</button>
      <button class="tabs-nav__btn btn-reset" aria-label="Открыть список проектов" data-path="two">2</button>
    </div>
  </div>
</section>
