<section class="services">
  <div class="container">
    <div class="services__wrapper">
      <div class="services__nav">
        <h2 class="services__title title">Услуги студии</h2>
        <div class="services__tabs-slider tabs-slider">
          <button class="tabs-slider__btn tabs-slider__btn--active btn-reset" aria-label="Перейти к основному перечню услуг">Основной перечень</button>
          <button class="tabs-slider__btn btn-reset" aria-label="Перейти к услугам по ретуши">Услуги по ретуши</button>
        </div>
      </div>
      <article class="services__article article-sale">
        <span class="article-sale__topic">Акция!</span>
        <span class="article-sale__terms">Только в июне</span>
        <p class="article-sale__descr descr descr--light">1,5 часа портретной съемки + ретушь 10 снимков</p>
        <a class="article-sale__btn btn btn--primary btn-reset" aria-label="Перейти на страницу акции">Узнать больше
        </a>
      </article>
      <ul class="services__list services-list list-reset">
        <li class="services-list__item services-card">
          <picture class="services-card__image">
            <img src="img/services-card-one.jpg" alt="Фотография с фотосессии">
          </picture>
          <div class="services-card__info">
            <span class="services-card__topic">Высокий уровень вовлечения</span>
            <p class="services-card__descr descr descr--grey">Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта.</p>
            <a class="services-card__link" href="#" aria-label="Подробнее об перечне услуг">Подробнее
              <svg class="services-card__icon">
                <use xlink:href="img/sprite.svg#arrow"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="services-list__item services-card">
          <picture class="services-card__image">
            <img src="img/services-card-two.jpg" alt="Фотография с фотосессии">
          </picture>
          <div class="services-card__info">
            <span class="services-card__topic">Диаграммы связей</span>
            <p class="services-card__descr descr descr--grey">Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за собой процесс.</p>
            <a class="services-card__link" href="#" aria-label="Подробнее об перечне услуг">Подробнее
              <svg class="services-card__icon">
                <use xlink:href="img/sprite.svg#arrow"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="services-list__item services-card">
          <picture class="services-card__image">
            <img src="img/services-card-three.jpg" alt="Фотография с фотосессии">
          </picture>
          <div class="services-card__info">
            <span class="services-card__topic">Высокотехнологичная концепция</span>
            <p class="services-card__descr descr descr--grey">В частности, убеждённость некоторых оппонентов способствует подготовке и реализации анализа существующих паттернов.</p>
            <a class="services-card__link" href="#" aria-label="Подробнее об перечне услуг">Подробнее
              <svg class="services-card__icon">
                <use xlink:href="img/sprite.svg#arrow"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="services-list__item services-card">
          <picture class="services-card__image">
            <img src="img/services-card-four.jpg" alt="Фотография с фотосессии">
          </picture>
          <div class="services-card__info">
            <span class="services-card__topic">Сложившаяся структура организации</span>
            <p class="services-card__descr descr descr--grey">Кстати,  сторонники тоталитаризма в науке будут объединены в целые кластеры себе подобных.</p>
            <a class="services-card__link" href="#" aria-label="Подробнее об перечне услуг">Подробнее
              <svg class="services-card__icon">
                <use xlink:href="img/sprite.svg#arrow"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="services-list__item services-card">
          <picture class="services-card__image">
            <img src="img/services-card-five.jpg" alt="Фотография с фотосессии">
          </picture>
          <div class="services-card__info">
            <span class="services-card__topic">Внутренние резервы и ресурсы</span>
            <p class="services-card__descr descr descr--grey">Банальные, но неопровержимые выводы, а также ключевые особенности структуры проекта являются только методом.</p>
            <a class="services-card__link" href="#" aria-label="Подробнее об перечне услуг">Подробнее
              <svg class="services-card__icon">
                <use xlink:href="img/sprite.svg#arrow"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
      <div class="services__wrapper-work">
        <h3 class="services__subtitle title">Выполненные работы</h3>
        <ul class="services-works list-reset">
          <li class="services-works__item">
            <a class="services-works__link" href="#" aria-label="Узнать больше о данной работе">
              <picture class="services-works__image">
                <img src="img/services-works/services-works-1.jpg" alt="Фотография из фотосессии">
              </picture>
            </a>
          </li>
          <li class="services-works__item">
            <a class="services-works__link" href="#" aria-label="Узнать больше о данной работе">
              <picture class="services-works__image">
                <img src="img/services-works/services-works-2.jpg" alt="Фотография из фотосессии">
              </picture>
            </a>
          </li>
          <li class="services-works__item">
            <a class="services-works__link" href="#" aria-label="Узнать больше о данной работе">
              <picture class="services-works__image">
                <img src="img/services-works/services-works-3.jpg" alt="Фотография из фотосессии">
              </picture>
            </a>
          </li>
          <li class="services-works__item">
            <a class="services-works__link" href="#" aria-label="Узнать больше о данной работе">
              <picture class="services-works__image">
                <img src="img/services-works/services-works-4.jpg" alt="Фотография из фотосессии">
              </picture>
            </a>
          </li>
          <li class="services-works__item">
            <a class="services-works__link" href="#" aria-label="Узнать больше о данной работе">
              <picture class="services-works__image">
                <img src="img/services-works/services-works-5.jpg" alt="Фотография из фотосессии">
              </picture>
            </a>
          </li>
          <li class="services-works__item">
            <a class="services-works__link" href="#" aria-label="Узнать больше о данной работе">
              <picture class="services-works__image">
                <img src="img/services-works/services-works-6.jpg" alt="Фотография из фотосессии">
              </picture>
            </a>
          </li>
          <li class="services-works__item">
            <a class="services-works__link" href="#" aria-label="Узнать больше о данной работе">
              <picture class="services-works__image">
                <img src="img/services-works/services-works-7.jpg" alt="Фотография из фотосессии">
              </picture>
            </a>
          </li>
          <li class="services-works__item">
            <a class="services-works__link" href="#" aria-label="Узнать больше о данной работе">
              <picture class="services-works__image">
                <img src="img/services-works/services-works-8.jpg" alt="Фотография из фотосессии">
              </picture>
            </a>
          </li>
          <li class="services-works__item">
            <a class="services-works__link" href="#" aria-label="Узнать больше о данной работе">
              <picture class="services-works__image">
                <img src="img/services-works/services-works-9.jpg" alt="Фотография из фотосессии">
              </picture>
            </a>
          </li>
          <li class="services-works__item">
            <a class="services-works__link" href="#" aria-label="Узнать больше о данной работе">
              <picture class="services-works__image">
                <img src="img/services-works/services-works-10.jpg" alt="Фотография из фотосессии">
              </picture>
            </a>
          </li>
          <li class="services-works__item">
            <a class="services-works__link" href="#" aria-label="Узнать больше о данной работе">
              <picture class="services-works__image">
                <img src="img/services-works/services-works-11.jpg" alt="Фотография из фотосессии">
              </picture>
            </a>
          </li>
          <li class="services-works__item">
            <a class="services-works__link" href="#" aria-label="Узнать больше о данной работе">
              <picture class="services-works__image">
                <img src="img/services-works/services-works-12.jpg" alt="Фотография из фотосессии">
              </picture>
            </a>
          </li>
          <li class="services-works__item">
            <a class="services-works__link" href="#" aria-label="Узнать больше о данной работе">
              <picture class="services-works__image">
                <img src="img/services-works/services-works-13.jpg" alt="Фотография из фотосессии">
              </picture>
            </a>
          </li>
          <li class="services-works__item">
            <a class="services-works__link" href="#" aria-label="Узнать больше о данной работе">
              <picture class="services-works__image">
                <img src="img/services-works/services-works-14.jpg" alt="Фотография из фотосессии">
              </picture>
            </a>
          </li>
          <li class="services-works__item">
            <a class="services-works__link" href="#" aria-label="Узнать больше о данной работе">
              <picture class="services-works__image">
                <img src="img/services-works/services-works-15.jpg" alt="Фотография из фотосессии">
              </picture>
            </a>
          </li>
          <li class="services-works__item">
            <a class="services-works__link" href="#" aria-label="Узнать больше о данной работе">
              <picture class="services-works__image">
                <img src="img/services-works/services-works-16.jpg" alt="Фотография из фотосессии">
              </picture>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  </div>
</section>
