:root {
  --font-family: "Roboto", "TTFirsNeue", sans-serif;
  --content-width: 1290px;
  --container-offset: 15px;
  --grid-gap: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --color-light: #ffffff;
  --color-mine-shaft: #202020;
  --color-tundora: #4a4a4a;
  --color-silver: #cacaca;
  --color-mercury: #e9e9e9;
  --color-burning-orange: #ff6e30;
  --color-light-mine-shaft: #333333;
  --color-pickled-bluewood: #223444;
  --color-yellow:#FFF500;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Roboto";
  src: local("RobotoRegular"), url("../fonts/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("RobotoBold"), url("../fonts/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue";
  src: local("TTFirsNeueRegular"), url("../fonts/TTFirsNeueRegular.woff2") format("woff2"), url("../fonts/TTFirsNeueRegular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue";
  src: local("TTFirsNeueBold"), url("../fonts/TTFirsNeueBold.woff2") format("woff2"), url("../fonts/TTFirsNeueBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue";
  src: local("TTFirsNeueMedium"), url("../fonts/TTFirsNeueMedium.woff2") format("woff2"), url("../fonts/TTFirsNeueMedium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.centered {
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  border: 3px solid var(--color-burning-orange);
  font-weight: 700;
  font-size: 16px;
  color: var(--color-light);
}
.btn--primary {
  background-color: var(--color-burning-orange);
}

.title {
  margin: 0;
  font-family: "TTFirsNeue";
  font-weight: 700;
  font-size: 24px;
  line-height: 104%;
  color: var(--color-mine-shaft);
}
.title--center {
  text-align: center;
}
.title--light {
  color: var(--color-light);
}

.descr {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  color: var(--color-silver);
}
.descr--center {
  text-align: center;
}
.descr--light {
  color: var(--color-light);
}
.descr--grey {
  color: #999;
}

.header {
  background-color: var(--color-mine-shaft);
}
.header__top {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--color-mine-shaft);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__image {
  display: block;
  font-size: 0;
}
.header__image img {
  width: 190px;
  height: 31px;
}
.header__nav {
  transform: translateX(25px);
}
.header__list {
  display: flex;
  gap: 21px;
}
.header__link {
  display: flex;
}
.header__icon {
  width: 30px;
  height: 30px;
  fill: var(--color-silver);
}
.header__bottom {
  padding-top: 11px;
  padding-bottom: 9px;
  background-color: var(--color-tundora);
}
.header__number {
  display: flex;
  align-items: center;
  font-family: "TTFirsNeue";
  font-weight: 700;
  font-size: 16px;
  color: var(--color-light);
}
.header__number svg {
  width: 20px;
  height: 20px;
  color: inherit;
  fill: currentColor;
  transition: fill 0.3s ease-in-out;
}
.header__form {
  display: flex;
  align-items: center;
}
.header__form svg {
  width: 24px;
  height: 24px;
  fill: var(--color-light);
}
.header__btn {
  display: flex;
  align-items: center;
  outline: none;
}
.header__search {
  min-width: 172px;
  border: none;
  border-bottom: 1px solid var(--color-mercury);
  font-family: "TTFirsNeue";
  font-weight: 400;
  font-size: 14px;
  color: var(--color-mercury);
  outline: none;
  background-color: inherit;
}
.header__search::-moz-placeholder {
  font-family: "TTFirsNeue";
  font-weight: 400;
  font-size: 14px;
  color: var(--color-mercury);
}
.header__search::placeholder {
  font-family: "TTFirsNeue";
  font-weight: 400;
  font-size: 14px;
  color: var(--color-mercury);
}

.hero {
  padding-top: 35px;
  padding-bottom: 39px;
  background-color: var(--color-light);
}
.hero__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}
.hero__article {
  grid-column: span 6;
  padding-top: 5px;
}
.hero__photo {
  grid-column: span 6;
}
.hero__title {
  margin-bottom: 24px;
}

.about-us {
  padding-top: 36px;
  padding-bottom: 69px;
  background-color: var(--color-mine-shaft);
}
.about-us__title {
  margin-bottom: 5px;
}
.about-us__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
  min-height: 365px;
}
.about-us__descr {
  grid-column: span 6;
}
.about-us__subscription {
  grid-column: span 6;
}
.about-us__image {
  display: block;
  margin-bottom: 24px;
  font-size: 0;
}
.about-us__image img {
  min-height: 255px;
}
.about-us__subtitle {
  margin: 0;
  margin-bottom: 14px;
  font-family: "TTFirsNeue";
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: var(--color-light);
}

.projects {
  padding-top: 44px;
  padding-bottom: 43px;
}
.projects__title {
  margin-bottom: 14px;
}
.projects__wrapper {
  margin-bottom: 50px;
}
.projects__list {
  display: none;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}
.projects__list--active {
  display: grid;
}
.projects__item {
  grid-column: span 2;
  padding-top: 202px;
  min-height: 300px;
}
.projects__item--midl {
  display: flex;
  flex-direction: column;
  grid-column: span 3;
}
.projects__item--big {
  display: flex;
  flex-direction: column;
  grid-column: span 6;
  padding: 24px 30px 30px 30px;
  background-color: var(--color-tundora);
}
.projects__item--reverse {
  order: -1;
}

.card-project {
  position: relative;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}
.card-project__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  outline: none;
}
.card-project__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.card-project__link:focus-visible::before {
  outline: 1px solid red;
}
.card-project__descr {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-mine-shaft);
}
.card-project__descr--light {
  color: var(--color-light);
  max-width: 292px;
}
.card-project__descr--midl {
  margin-bottom: 13px;
}
.card-project__descr--big {
  margin-bottom: 20px;
}
.card-project__btn {
  align-self: flex-start;
  margin-top: auto;
}
.card-project__date {
  display: block;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #999;
  background-position: left top;
  background-size: 14px 14px;
  background-repeat: no-repeat;
}
.card-project__date--grey {
  background-image: url("../img/calendar-grey.svg");
}
.card-project__date--light {
  color: var(--color-light);
  background-image: url("../img/calendar-light.svg");
}
.card-project__date--midl {
  line-height: 13px;
}
.card-project__date--big {
  margin-bottom: 2px;
}
.card-project__hashtag {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 6px 14px;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-light);
  background-color: var(--color-light-mine-shaft);
}
.card-project__subtitle {
  margin-bottom: 6px;
  max-width: 292px;
}
.card-project--one {
  background-image: url("../img/card-project-one.jpg");
}
.card-project--two {
  background-image: url("../img/card-project-two.jpg");
}
.card-project--three {
  background-image: url("../img/card-project-three.jpg");
}
.card-project--four {
  background-image: url("../img/card-project-four.jpg");
}
.card-project--five {
  background-image: url("../img/card-project-five.jpg");
}
.card-project--six {
  background-image: url("../img/card-project-six.jpg");
}
.card-project--seven {
  background-image: url("../img/card-project-seven.jpg");
}
.card-project--eight {
  background-image: url("../img/card-project-eight.jpg");
}
.card-project--nine {
  background-image: url("../img/card-project-nine.jpg");
}
.card-project--ten {
  background-image: url("../img/card-project-ten.jpg");
}
.card-project--eleven {
  background-image: url("../img/card-project-eleven.jpg");
}
.card-project--twelve {
  background-image: url("../img/card-project-twelve.jpg");
}
.card-project--thirteen {
  background-image: url("../img/card-project-thirteen.jpg");
}
.card-project--fourteen {
  background-image: url("../img/card-project-fourteen.jpg");
}

.services {
  padding-bottom: 40px;
}
.services__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(70px, auto) minmax(396px, auto);
  gap: var(--grid-gap);
}
.services__nav {
  grid-column: 1/span 4;
  grid-row: 1/span 1;
}
.services__title {
  margin-bottom: 11px;
}
.services__article {
  grid-column: 9/span 4;
  grid-row: 1/span 2;
  margin-top: 6px;
}
.services__list {
  grid-column: 1/span 8;
  grid-row: 2/span 2;
}
.services__wrapper-work {
  grid-column: 9/span 4;
  grid-row: 3/span 1;
}
.services__subtitle {
  margin-bottom: 18px;
}

.services-list__item:not(:last-child) {
  margin-bottom: 25px;
}

.services-works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
}
.services-works__item {
  grid-column: 1 span;
}
.services-works__image {
  display: block;
  font-size: 0;
}
.services-works__image img {
  width: 100%;
  height: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 79px;
}
.nav__link {
  display: block;
  font-family: "TTFirsNeue";
  font-weight: 400;
  font-size: 16px;
  color: var(--color-light);
}

.article-abc {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 60px 58px;
  min-height: 630px;
  background-image: url("../img/article-abc-bg.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.article-abc__descr {
  margin-bottom: 3px;
  line-height: 20px;
}
.article-abc__title {
  margin: 0;
  margin-bottom: 17px;
  font-family: "TTFirsNeue";
  font-weight: 700;
  font-size: 36px;
  line-height: 104%;
  color: var(--color-light);
}
.article-abc__btn {
  align-self: flex-start;
}
.article-abc__hashtag {
  position: absolute;
  top: 16px;
  right: 15px;
  padding: 7px 15px;
  font-size: 14px;
  color: var(--color-light);
  background-color: var(--color-light-mine-shaft);
}

.photo__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -moz-column-gap: var(--grid-gap);
       column-gap: var(--grid-gap);
  row-gap: var(--grid-gap);
}
.photo__item {
  grid-column: span 3;
}
.photo__item--big {
  grid-column: span 6;
}
.photo__image {
  display: block;
  font-size: 0;
}
.photo__image img {
  width: 100%;
  height: 100%;
}

.subscription {
  display: flex;
  align-items: center;
}
.subscription__input {
  margin-right: var(--grid-gap);
  padding: 15px 23px;
  width: 75%;
  border: none;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-burning-orange);
  outline: none;
  background-color: var(--color-tundora);
}
.subscription__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-silver);
}
.subscription__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-silver);
}

.tabs-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabs-nav__btn {
  display: block;
  padding: 6px 11px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-pickled-bluewood);
  background-color: #c4c4c4;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.tabs-nav__btn:not(:last-child) {
  margin-right: var(--grid-gap);
}
.tabs-nav__btn--active {
  pointer-events: none;
  color: var(--color-light);
  background-color: var(--color-burning-orange);
}

.tabs-slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}
.tabs-slider::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #c4c4c4;
}
.tabs-slider::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 4px;
  background-color: var(--color-burning-orange);
  transition: transform 0.3s ease-in-out;
}
.tabs-slider--active::after {
  transform: translateX(100%);
}
.tabs-slider__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #666;
  transition: color 0.3s ease-in-out;
}
.tabs-slider__btn:not(:last-child) {
  margin-right: var(--grid-gap);
}
.tabs-slider__btn--active {
  pointer-events: none;
  color: var(--color-burning-orange);
}

.services-card {
  display: flex;
}
.services-card__image {
  display: block;
  margin-right: 28px;
  font-size: 0;
}
.services-card__image img {
  height: 100%;
  min-width: 300px;
}
.services-card__info {
  display: flex;
  flex-direction: column;
  padding: 19px 10px 11px 0;
}
.services-card__topic {
  display: block;
  margin-bottom: 3px;
  font-family: "TTFirsNeue";
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: var(--color-mine-shaft);
}
.services-card__descr {
  margin-bottom: 11px;
  line-height: 23px;
}
.services-card__link {
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-top: auto;
  color: var(--color-burning-orange);
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}
.services-card__icon {
  padding-left: 5px;
  width: 24px;
  height: 13px;
  color: inherit;
  fill: currentColor;
  transition: fill 0.3s ease-in-out;
}

.article-sale {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 30px 30px;
  background-color: var(--color-tundora);
  background-image: url("../img/article-sale-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.article-sale__topic {
  display: block;
  font-family: "TTFirsNeue";
  font-weight: 700;
  font-size: 36px;
  line-height: 37px;
  color: var(--color-yellow);
}
.article-sale__terms {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-yellow);
}
.article-sale__descr {
  margin: 0;
  margin-top: auto;
  margin-bottom: 9px;
  max-width: 218px;
  line-height: 21px;
}
.article-sale__descr::before {
  content: "";
  position: relative;
  display: block;
  margin-bottom: 10px;
  width: 116px;
  height: 59px;
  background-image: url("../img/sale-20.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.article-sale__btn {
  align-self: flex-start;
}/*# sourceMappingURL=main.css.map */